In [1]:
import pandas as pd
import streamlit as st

st.header("Rekomendasi Beli Emas")
    
df = pd.read_csv('data/harga_emas_new2.csv')
df['Tanggal'] = pd.to_datetime(df['Tanggal'])
df.set_index('Tanggal', inplace=True)

df['Harga'] = df['Price1'].astype(str).str.replace('.', '').astype(float)
df.drop(['Price1', 'Price2', 'Price3', 'Price5', 'Price10', 'Price25', 'Price50', 'Price100'], axis=1, inplace=True)

2024-06-10 10:12:51.984
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\LENOVO\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [2]:
df['Month'] = df.index.month
df['Year'] = df.index.year
df.head(10)

               Harga  Month  Year
Tanggal
2014-01-01  524000.0      1  2014
2014-01-02  530000.0      1  2014
2014-01-03  532000.0      1  2014
2014-01-04  532000.0      1  2014
2014-01-05  532000.0      1  2014
2014-01-06  535000.0      1  2014
2014-01-07  532000.0      1  2014
2014-01-08  531000.0      1  2014
2014-01-09  530000.0      1  2014
2014-01-10  530000.0      1  2014

In [3]:
monthly_avg_prices = df.groupby(['Year', 'Month'])['Harga'].mean().reset_index()
monthly_avg_prices_pivot = monthly_avg_prices.pivot(index='Year', columns='Month', values='Harga')
monthly_avg_prices_pivot.head(10)

Month,1,2,3,4,5,6,7,8,9,10,11,12
Year,,,,,,,,,,,,
2014,5.336452e+05,5.452500e+05,5.452903e+05,5.332667e+05,5.304516e+05,5.378000e+05,5.365161e+05,5.328710e+05,5.267667e+05,5.261613e+05,5.230000e+05,5.292903e+05
2015,5.462258e+05,5.482500e+05,5.452258e+05,5.485000e+05,5.522903e+05,5.535333e+05,5.492581e+05,5.514516e+05,5.664667e+05,5.482581e+05,5.429667e+05,5.487097e+05
2016,5.463871e+05,5.636897e+05,5.670000e+05,5.675333e+05,5.839355e+05,5.909667e+05,6.023226e+05,6.084516e+05,6.047333e+05,5.847097e+05,5.784667e+05,5.756774e+05
2017,5.869355e+05,5.912857e+05,5.856452e+05,5.932667e+05,5.841613e+05,5.899667e+05,5.879032e+05,6.008710e+05,6.116333e+05,6.143785e+05,6.124942e+05,6.121290e+05
2018,6.326774e+05,6.390714e+05,6.462258e+05,6.534000e+05,6.548065e+05,6.488667e+05,6.479677e+05,6.502903e+05,6.641000e+05,6.639355e+05,6.542167e+05,6.524839e+05
2019,6.631935e+05,6.692143e+05,6.640000e+05,6.597500e+05,6.645161e+05,6.837500e+05,7.044194e+05,7.510645e+05,7.595667e+05,7.257258e+05,7.216333e+05,7.275484e+05
2020,7.731290e+05,7.863103e+05,8.557419e+05,9.370667e+05,9.163548e+05,8.992333e+05,9.577419e+05,1.035065e+06,1.018733e+06,9.323226e+05,9.113333e+05,9.100323e+05
2021,9.587419e+05,9.363571e+05,9.240323e+05,9.280667e+05,9.421290e+05,9.427333e+05,9.452258e+05,9.418387e+05,9.390667e+05,9.430645e+05,9.482333e+05,9.403226e+05
2022,9.387742e+05,9.524643e+05,9.963871e+05,9.917000e+05,9.779355e+05,9.894667e+05,9.716774e+05,9.791613e+05,9.424667e+05,9.403871e+05,9.650000e+05,9.875484e+05
2023,1.032452e+06,1.021679e+06,1.059226e+06,1.067767e+06,1.057645e+06,1.056867e+06,1.067419e+06,1.066032e+06,1.071267e+06,1.073032e+06,1.078233e+06,1.093806e+06

In [4]:
average_monthly_prices = monthly_avg_prices_pivot.mean(axis=0)
recommended_month = average_monthly_prices.idxmin()
# print("Recommended month: " + recommended_month)